<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ $styles := resources.Get "css/main.css" | resources.PostCSS }}

  {{ if .Site.IsServer }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
  {{ else }}
  {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" />
  {{ end }}

  {{ block "head" . }}
  {{ end }}
</head>
<body class="flex flex-col min-h-screen break-words">
  {{ partial "navbar.html" . }}

  {{ block "main" . }}
  {{ end }}

  {{ partial "footer.html" . }}
</body>
</html>
