<footer class="border-t border-slate-900/10 px-6 lg:px-20 py-4 shrink-0">
  <p class="text-xs text-gray-500 text-center lg:text-left">Technology Blog - Your daily inspiration about technology</p>
</footer>
